extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Alan McClenaghan

        p Full Stack JavaScript Developer


        .about-bio

          p A 5x Salesforce and Copado professional with experience of Digital Print and Web Design using HTML, CSS & JavaScript. Alan first encountered Salesforce while working as a Junior Software Tester where he worked alongside Developers to debug web app functionalities. He then joined Revolent Group as a Salesforce Developer, learning both Admin and Developer skills. He gained hands-on experience on the Revols for Good programme, helping develop a Salesforce for Non-Profits project environment. Alan is currently working with Atamis, providing Salesforce procurement software for the public and private sectors, and collaborating with clients to design and deliver bespoke customisations.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 01234-123456
          li alan@email.com

        a.btn-link(href='https://www.linkedin.com/in/alan-mcclenaghan/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/AlanMcClenaghan' target="_blank") GitHub
        a.btn-link(href='http://alanmcclenaghan.com/' target="_blank") Website

    nav.nav
      a(href='/')
        span &larr;
        |  Back