extends layout.pug

block content

  article.portfolio-intro

    h1 My JavaScript Portfolio

    p Welcome to my JavaScript portfolio! Dive into a world where code meets creativity. As a JavaScript enthusiast, I thrive on crafting dynamic, efficient, and interactive web solutions. From sleek front-end designs to robust back-end functionality, each project reflects my commitment to pushing the boundaries of what's possible in the digital realm. Explore and enjoy the code journey!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[1]}` width='300' height='300', alt=`${project.project_name}`)
            h5= project.project_name